<!DOCTYPE html>
<html>
    <meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes" />
    <link type="text/css" rel="stylesheet" href="/dist/css/jquery.mmenu.all.css" />
    <link type="text/css" rel="stylesheet" href="/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="/css/new_inspection.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/css/w3.css" media="screen">
    
    <script type="text/javascript" src="/dist/js/jquery.mmenu.min.all.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <script type="text/javascript">
      $(function() {
        $('nav#menu').mmenu();
      });
    </script>

    <div id="page">
    	<div class="header">
      	<a href="#menu"></a>
        	Health Inspector
    	</div>
    	<div class="content"></div>
        	<div id="cont">
          		<div id="tp">
                    <h4>{{{message}}}</h4>
					{{{body}}}
				</div>
			</div>
		</div>		
		<nav id="menu">
	        <ul>
	          <li><a href="http://localhost:3000">Home</a></li>
	          <li><a href="about">About</a></li>
	          <li><a href="team">Team</a></li>
	          <li><a href="mockups">Layout</a></li>
	        </ul>
    	</nav>
    </div>
</html>