<!DOCTYPE HTML>
<html>
<head>
	<title> Past Inspections </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="all_inspections.css" media="screen">
</head>
<body>
<h2 align="center"> Past Inspections </h2>
<header></header>
<div class="dropdown">
  <button class="dropbtn">Order by:</button>
  <div class="dropdown-content">
    <a href="#">name</a>
    <a href="#">date</a>
    <a href="#">risk</a>
  </div>
</div>
<section align="center" class= "inspectionList">
  <ul class="media-list">
    <li class="media">
      <div class="media-top">
          Ol' Dave's Place, 4/16/2014
      </div>
      <div class="media-body">
          Risk level: 2<br>
          Embargo: No
      </div>
      <button> View </button>
    </li><br>
    <li class="media">
      <div class="media-top">
          Ambrosia, 4/20/2014
      </div>
      <div class="media-body">
          Risk level: 1<br>
          Embargo: No
      </div>
      <button> View </button>
    </li><br>
    <li class="media">
      <div class="media-top">
          The Pit, 4/25/2014
      </div>
      <div class="media-body">
          Risk level: 5<br>
          Embargo: Yes
      </div>
      <button> View </button>
    </li><br>
		<li class="media">
      <div class="media-top">
          Ratty Tony's, 4/25/2014
      </div>
      <div class="media-body">
          Risk level: 1<br>
          Embargo: No
      </div>
      <button> View </button>
    </li><br>
		<li class="media">
      <div class="media-top">
          L'Hotel Rouge, 4/26/2014
      </div>
      <div class="media-body">
          Risk level: 4<br>
          Embargo: Yes
      </div>
      <button> View </button>
    </li><br>
		<li class="media">
      <div class="media-top">
          Butt Palace, 4/27/2014
      </div>
      <div class="media-body">
          Risk level: 2<br>
          Embargo: No
      </div>
      <button> View </button>
    </li><br>
		<li class="media">
      <div class="media-top">
          Butt Palace 2, 4/27/2014
      </div>
      <div class="media-body">
          Risk level: 5<br>
          Embargo: Yes
      </div>
      <button> View </button>
    </li><br>
  </ul>
</section>
</body>
</html>
