<!DOCTYPE HTML>
<html>
<head>
	<title> Home Page </title>
	<meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes" />
	<link rel="stylesheet" type="text/css" href="/css/home.css" media="screen">

	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">


<body>
<!--<img class= "logo" src="HealthCheckLogo.jpg" alt="Logo" height="70" width="150">-->
	<div class= "homeContent">
		<center><ul id="home">
		  <li id="homeli"><center><a href="/inspections/new">New Inspection</a></center></li>
		  <li id="homeli"><center><a href="/establishments/new">New Establishment</a></center></li>
		  <li id="homeli"><center><a href="/violations">New Violation</a></center></li>
		</ul></center>

		
	</div>
</body>

</div>
</html>
