<!DOCTYPE HTML>
<html>
<head>
	<title> Home Page </title>
	<meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes" />
	<link rel="stylesheet" type="text/css" href="/css/home.css" media="screen">

	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">


<body>
<!--<img class= "logo" src="HealthCheckLogo.jpg" alt="Logo" height="70" width="150">-->
	<div class= "homeContent">
		<center><ul id="home">
		  <li id="homeli"><center><a href="/inspections/new">New Inspection</a></center></li>
		  <li id="homeli"><center><a href="/inspections">View Old Inspections</a></center></li>
		  <li id="homeli"><center><a href="#sync">Sync To Database</a></center></li>
		  <li id="homeli"><center><a href="/foodcode">Food Code</a></center></li>
		</ul></center>


  <!--<div class= "homebutton" align="center">
    <button class= "homebuttonstyle" onclick="window.location.href='/inspections/new'" >New Inspection</button>
  </div>

  <div class= "homebutton" align="center">
    <button class= "homebuttonstyle" onclick="window.location.href='/inspections'">View Old Inspections</button>
  </div>

  <div class= "homebutton" align="center">
    <button class= "homebuttonstyle">Sync To Database</button>
  </div>

  <div class= "homebutton" align="center">
    <button class= "homebuttonstyle" onclick="window.location.href='/foodcode'">Food Code</button>
  </div>

  <div class= "homebutton" align="center">
    <button class= "homebuttonstyle" onclick="window.location.href='/logout'">Log Out</button>
  </div>-->
		
	</div>
</body>

</div>
</html>
