<!DOCTYPE HTML>
<html>
<head>
	<title> Login Page </title>
	<meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes" />
	<link rel="stylesheet" type="text/css" href="/css/login.css" media="screen">
	<link rel="stylesheet" type="text/css" href="/css/w3.css" media="screen">


	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">



<body>
<img class= "logo" src="HealthCheckLogo.jpg" align="center" alt="Logo" height="140" width="370">
<div class= "logBox">
<h2> Welcome Health Inspector! </h2>
<section class= "loginSection" id="login">
  <form method="post" action="/api/user">
    User Name: <input type="text" name="username"> <br>
    Password:   <input type="text" name="password"> <br>
    <input class= "signin" type="submit" value="Sign In">
  </form>
</section>
</div>
</body>

</div>
</html>
