<!DOCTYPE HTML>
<html>
<head>
	<title> Login Page </title>
	<meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes" />
	<link rel="stylesheet" type="text/css" href="/css/w3.css" media="screen">
	<link rel="stylesheet" type="text/css" href="/css/new_inspection.css" media="screen">

	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">


	<body>
	<div class= "logBox">
	<h2></h2>
	<section class= "loginSection" id="login">
	  <center>
		  <form method="post" action="/users/auth">
		    <p><input class="w3-input w3-border w3-hover-blue" type="text" name="username" placeholder="Username"></p>
		    <p><input class="w3-input w3-border w3-hover-blue" type="password" name="password" placeholder="Password"></p>
		    <input type="submit" value="Submit">
		  </form>
		  <input type="submit" value="Create a new account" onclick="location.href='/users/new'" />
	  </center>
	</section>
	</div>
	</body>

</html>
