<<<<<<< HEAD
=======
<!DOCTYPE HTML>
<h2> The Login Screen! </h2>
>>>>>>> 6f4f44201c6591602bbf16195d056e54402fd114
<header></header>
<section id="login">
  <form method="post" action="/api/user">
    User Name: <input type="text" name="username"> <br>
    Password: <input type="text" name="password"> <br>
    <input type="submit" value="register">
  </form>
</section>
<<<<<<< HEAD

=======
>>>>>>> 6f4f44201c6591602bbf16195d056e54402fd114
