<!DOCTYPE html>
<h2> The Login Screen</h2>
<form>
	<input type="text" name="username" value="" placeholder="Username"><br>
    <input type="password" name="password" value="" placeholder="Password"><br>
    <button> login </button>
</form>
