<title>New Inspection</title>
<h2> New Inspection</h2>
<form>
	<input type="text" name="id" value="" placeholder="ID"><br>
    <input type="text" name="restaurantid" value="" placeholder="Restaurant ID"><br>
    <input type="date" name="date" value="" ><br>
    <input type="text" name="permitnumber" value="" placeholder="Permit Number"><br>
    
    Reinspection: <input type="checkbox" name="reinspection" value="reinspection"><br>
    Action Required: <input type="checkbox" name="actionRequired" value="actionRequired"><br>
    
    <label> Risk Level: </label>
    <input type="radio" name="risklevel" value="1"> 1
  	<input type="radio" name="risklevel" value="2"> 2
  	<input type="radio" name="risklevel" value="3"> 3
  	<input type="radio" name="risklevel" value="4"> 4
  	<input type="radio" name="risklevel" value="5"> 5 <br>

  	<input type="checkbox" name="embargo" value="embargo"> Embargo<br>
  	<input type="date" name="reinspectionDate" value="" ><br>
  	<input type="text" name="signature" value="" placeholder="Signature"><br>

  	<button> Submit </button>
</form>