<html>

    <head>
      <title>New Inspection</title>

      <meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes" />
      <link rel="stylesheet" type="text/css" href="/css/new_inspection.css" media="screen">
      <link rel="stylesheet" type="text/css" href="/css/w3.css" media="screen">

    </head>

    <body>
            <form class="personalContainer" method="post" action="/inspections/create">
              <center><p>Inspection Form</p></center>
              <p><input class="w3-input w3-border w3-hover-blue" type="text" name="establishment_id" value="" placeholder="Restuarant ID"></p>
              <p><input class="w3-input w3-border w3-hover-blue" type="text" name="user_id" value="" placeholder="User ID"></p>
              <p>Inspection Date: <input type="date" name="date_of_inspection" value=""></p>
              <p>Time in: <input type="time" name="time_in" value=""></p>
              <p>Time out: <input type="time" name="time_out" value=""></p>
              <p><input class="w3-input w3-border w3-hover-blue" type="text" name="permit_number" value="" placeholder="Signature"></p>
               <p><input class="w3-check" type="checkbox" name="type" value="reinspection"><label class="w3-validate">Re-Inspection</label></p>
              <p><input class="w3-check" type="checkbox" name="actionRequired" value="actionRequired"><label class="w3-validate">Action Required</label></p>
                <label>Food Establishment Name </label><select name="establishment_id">
                    {{#each food_establishments}}
                        <option value="{{this.id}}">{{this.name}}</option>
                    {{/each}}
                </select>
              </p>
              
              <p><label> Risk Level: </label>
                <input class="w3-radio" type="radio" name="risk_level" value="1"> <label class="w3-validate">1</label>
              	<input class="w3-radio" type="radio" name="risk_level" value="2"> <label class="w3-validate">2</label>
              	<input class="w3-radio" type="radio" name="risk_level" value="3"> <label class="w3-validate">3</label>
              	<input class="w3-radio" type="radio" name="risk_level" value="4"> <label class="w3-validate">4</label>
              	<input class="w3-radio" type="radio" name="risk_level" value="5"> <label class="w3-validate">5</label>
              </p>

              <p><input class="w3-check" type="checkbox" name="embargo" value="embargo"><label class="w3-validate">Embargo</label></p>
              <p>Re-Inspection Date:<br> <input type="date" name="date_of_reinspection" value="" ></p>
              <p><input class="w3-input w3-border w3-hover-blue" type="text" name="signature" value="" placeholder="Signature"></p>
              <input type="submit" value="Submit">
            </form>
          </div>
        </div>   
      </div> 
    </body>
</html>

