<title>New Establishment</title>
<h2>New Establishment</h2>
<form method="post" action="/establishment/create">
    Name of Restaurant:<br>
    <input type="text" name="name" placeholder="Name"><br><br>
    Town:<br>
    <input type="town" name="town" placeholder="Town"><br>
    Address:<br>
    <input type="address" name="address" placeholder="Address"><br><br>
    Person In Charge:<br>
    <input type="person_in_charge" name="person_in_charge" placeholder="Restaurant Manager"><br><br>
    Description:<br>
    <input type="description" name="Description" placeholder="Description of Restaurant"><br><br>
    <button>Add Restaurant</button>
</form>
