
<html>
    <head>
      <title>New Inspection</title>

      <meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes" />
      <link rel="stylesheet" type="text/css" href="/css/new_inspection.css" media="screen">
      <link rel="stylesheet" type="text/css" href="/css/w3.css" media="screen">

    </head>
    <style>
      #cool{
        height: 680px;
        width: 100%;
        padding: 2%;
      }
    </style>

    <body>
      <div class="container">
        <h2>New Inspection</h2>
        <ul class="nav nav-tabs">
          <li class="active"><a href="#home">New Violation</a></li>
          <li><a href="#menu1">View Foodcode</a></li>
        </ul>

        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                          <form class="personalContainer" method="post" action="/inspections/create">
                <center><h2>Violation Form</h2></center>
                <p>
                  <label>Inspection Form ID </label>
                  <select name="establishment_id">
                    <option value="" disabled selected>Select an inspection form</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                  </select>
                </p>

                 <p><input class="w3-input w3-border w3-hover-blue" type="text" name="username" placeholder="Violation Name"></p>

                <p><label> Violation Risk Level: </label>
                  <input class="w3-radio" type="radio" name="risk_level" value="1"> <label class="w3-validate">1</label>
                  <input class="w3-radio" type="radio" name="risk_level" value="2"> <label class="w3-validate">2</label>
                  <input class="w3-radio" type="radio" name="risk_level" value="3"> <label class="w3-validate">3</label>
                  <input class="w3-radio" type="radio" name="risk_level" value="4"> <label class="w3-validate">4</label>
                  <input class="w3-radio" type="radio" name="risk_level" value="5"> <label class="w3-validate">5</label>
                </p>
          		
			    <p><input type="file" name="fileToUpload" id="fileToUpload"></p>
                <input type="submit" value="Submit">
              </form>


            </div>

            <div id="menu1" class="tab-pane fade">
                 <object id="cool" data="../../1999_food_code.pdf" type="application/pdf">
                  <embed src="1999_food_code.pdf" type="application/pdf" />
                </object>
            </div>
          </div>
      </div>

      <script>
      $(document).ready(function(){
          $(".nav-tabs a").click(function(){
              $(this).tab('show');
          });
      });
      </script>

    </body>
</html>
<script>
  $("#date_of_inspection").val(new Date().toJSON().substring(0,10));
</script>


