body {
  background-color: #929292;
    top: 30%;
}

.signin {
  left: 15%;
}

.loginSection{
  margin:auto;
}

.logBox {
  position: absolute;
  left: 40%;
}

.logo{
  position: relative;
  left:35%;
}
